html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

html {
	background:  #1d1d1d;
}

body {
	width: 900px;
	/*margin: 100px auto;*/
	margin-bottom: auto;
	margin-left: 254px;
	padding: 0 0 40px 0;
	background: #eee;
	font-family: Helvetica, Arial;
}

h1 {
	background-color: #FC7600;
	color: #fff;
	font-size: 1.6em;
	padding: 30px 20px 15px 20px;
	margin-bottom: 20px;
}

form legend {
	color: #333;
	padding: 0 0 20px 0;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16;
}

form {
	padding: 0 20px 20px 200px;
}

form, form fieldset input, form fieldset textarea, form label {
	font-family: Helvetica, Arial;
	font-size: 12pt;
}
form p { position: relative; margin: 10px 0;}
form p label { position: absolute; top: 0; left: 0;}
form p br {display: none;}


form fieldset p input,
form fieldset p textarea {
	display: block;
	padding: 4px;
	width: 300px;
	margin: 0;
}

form fieldset p label {
	width: 380px;
	display: block;
	margin: 5px 5px 5px 6px;
	padding: 0;
}

form fieldset p textarea {
	padding: 2px;
	width: 400px;
}

form fieldset p textarea,
form fieldset p input {
	border: solid 1px #ccc;
}
form fieldset p label {
	color: #777;
}

.body {
	padding: 0 20px;
}

h2 {
	color: #aaa;
	font-size: 4em;
	padding: 30px 0 10px 0 ;
	letter-spacing: -3px;
	font-weight: normal;
}

pre {
	font-size: 10pt;
	font-family: "Courier New";
	background: #000;
	padding: 10px 5px;
	color: #fff;
}

tt {
		font-family: "Courier New";
		font-weight: bold;
		color: #000;
}

.body ul {
	padding: 0 0 10px 20px;
	margin: 0 0 0 20px;
	list-style: disc;
	font-size: 0.8em;
}

