html {
	
}

body {
	font-family:Arial, Helvetica, sans-serif;	
	padding:0;
	margin:0;	
}

#header {
	background:#5BAAE2;
	background-image:-webkit-linear-gradient(bottom, #3E85CC 0%, #5BAAE2 60%, #61B4EB 97%, #6CC4FF 100%)	
	position:fixed;
	border-bottom:1px solid #1E4264;
	box-shadow:0 2px 4px rgba(0, 0, 0, .2);
	-webkit-box-shadow:0 2px 4px rgba(0, 0, 0, .2);		
	height:45px;	
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 10000;
}

.clear {
clear: both;
}

.content {
background-color:white;
border: 0;
outline: 0;
margin: 0 auto;
padding: 0;
width: 960px;
}

#loggedout_home {
	background-color:white;
	}

#loggedout_home .home-top-gradient {
	background-image:url(../images/bg1.jpg) 0 0 repeat;	
	border-bottom: 1px solid #8DB1BF;
	}
#home-bokeh {
	background: url(..images/white.png) 0 center no-repeat;
	margin: 0 auto;
	width: 960px;
	padding-top: 46px;
	height: 440px;
	position: relative;
}
#footer-span {
	border-top: 1px solid #8DB1BF;
	background:#FFF;
	bottom:0;
	position:absolute;
	height: 80px;
	width: 100%;
}

//edit1
/*
Copyright (c) 2009, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.8.0r4
*/

html{color:#000;background:#FFF;} div,dl,dt,dd,ul,ol,h1,h2,h3,h4,h5,h6,pre,code,legend,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,	textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}


  /* Make inputs at least the height of their button counterpart */

  /* Makes inputs behave like true block-level elements */

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;


/* Typography */
	
/* Global Classes */

/* Header */

#headerframe {
    border:0;
    height:42px;
    left:0;
    margin:0;
    padding:0;
    position:fixed;
    top:0;
    width:100%;
    z-index:9000;
}

#header{
	background: #5baae2;
	background-image: -webkit-linear-gradient(bottom, #3e85cc 0%, #5baae2 60%, #61b4eb 97%, #6cc4ff 100%);
	background-image:    -moz-linear-gradient(bottom, #3e85cc 0%, #5baae2 60%, #61b4eb 97%, #6cc4ff 100%);
	background-image:     -ms-linear-gradient(bottom, #3e85cc 0%, #5baae2 60%, #61b4eb 97%, #6cc4ff 100%);
	background-image:      -o-linear-gradient(bottom, #3e85cc 0%, #5baae2 60%, #61b4eb 97%, #6cc4ff 100%);
	border-bottom: 1px solid #1e4264;
	box-shadow:0 2px 4px rgba(0,0,0,.2);
	-moz-box-shadow:0 2px 4px rgba(0,0,0,.2);
	-webkit-box-shadow:0 2px 4px rgba(0,0,0,.2);
	height:45px;
	left:0;
	position:fixed;
	right:0;
	top:0;
	z-index:10000;
}

/* Wide Buttons ie. Smile Shuffle, profile shuffle */

/* spin.js classes */

.wrapper{
	margin:0 auto;
	position:relative;
	width:962px;
}


.loggedout-right a {
	border-radius:3px;
	color:#fff;
	display:inline-block;
	*display:block;
	font-size:14px;
	font-weight:bold;
	line-height: 28px;
	margin-right:5px;
	padding: 0 10px;
	text-decoration: none;
	text-shadow:0 1px #34658a;
	margin-top: 8px;
}

#main.loggedout-right li:first-child a {
	margin-right: 0;
}

#main.loggedout-right li {
	float: right;
}

#main a {
	border-radius: 3px;
	color: 
	white;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	line-height: 28px;
	margin-right: 5px;
	padding: 0 10px;
	text-decoration: none;
	text-shadow: 0 1px 
	#34658A;
}

body.browser_internet-explorer #main a:hover, 
body.browser_internet-explorer #main li a#login_header_link {
	background: #4e94c9;
}

body.browser_internet-explorer #main li a#sign_up_header_link {
	background:#82b200;
}

#main a:hover, 
#main li a#login_header_link{
	background: rgba(0,0,0,0.1);
    box-shadow: inset 0 0 1px rgba(0,0,0,.2), 0 1px 0 rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0 0 1px rgba(0,0,0,.2), 0 1px 0 rgba(255,255,255,0.2);
	-webkit-box-shadow: inset 0 0 1px rgba(0,0,0,.2), 0 1px 0 rgba(255,255,255,0.2);
	text-decoration:none;
}
#main li a#sign_up_header_link { 
	background: linear-gradient(top, #82BE00 0%, #6EA100 100%);
	background: -webkit-linear-gradient(top, #82BE00 0%, #6EA100 100%);
	background: -moz-linear-gradient(top, #82BE00 0%, #6EA100 100%);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.3);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.3);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.3);
	text-shadow: 0 1px #486E00;
}

#main li a#sign_up_header_link:hover {
	background: rgba(100, 160, 0, 0.9);
}


body.browser_internet-explorer #main a:active, 
body.browser_internet-explorer #main .selected, 
body.browser_internet-explorer #main .selected:hover, 
body.browser_internet-explorer #main li a#login_header_link:hover {
	background: #396d94;
}
body.browser_internet-explorer #main li a#sign_up_header_link:hover {
	background: #678d00;
	border: 1px solid #4d6a00;
}

#main a:active, 
#main .selected, 
#main .selected:hover, 
#main li a#login_header_link:hover {
	background: rgba(0,0,0,0.33);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.3), 0 1px 0 rgba(255,255,255,0.2);
	   -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.3), 0 1px 0 rgba(255,255,255,0.2);
	        box-shadow: inset 0 1px 1px rgba(0,0,0,.3), 0 1px 0 rgba(255,255,255,0.2);
}

body.browser_internet-explorer #main li a#login_header_link,
body.browser_internet-explorer #main li a#login_header_link:hover {
	border: 1px solid #315c7a;
}

#main li a#login_header_link,,
#main li a#login_header_link:hover {
	border: none; /* all browsers */
}


*/
#activity_list li.loading {
    background: url(../images/questions/spinner-fsv73b839fdc045fa62b979147d5cdf32f557a28fee.gif) 0 0 no-repeat;
    margin:10px 0 0 10px;
}

/*#activity_list li.notification {
        text-align:left;
        background-color:transparent;
}
*/

#activity_list li a,
#activity_list li.empty {
    color:#444;
    padding:10px 10px 10px 15px;
    display:block;
    border-bottom: 1px solid #eeeeee;
}

#activity_list > li:last-child a {
	background: #F9F9F9;
}

#activity_list > li:last-child a:hover {
	background: #edf9ff;
}


#activity_list li a:hover {
    text-decoration:none;
}

#activity_list li:hover, #activity_list .notification.new:hover {
    background-color: #edf9ff;
}

#activity_list .notification.new {
    background-color:#FFFDE9;
    border-bottom:1px solid #ffe87d;
}

#activity_list .notification .body {
	display: inline-block;
	margin-left: 20px;
}

#activity_list .notification em {
    font-weight:bold;
}

#activity_list > li :hover {

}


input[type="text"].placeholder, textarea.placeholder{
    color:#999999;
}

form{
	font-size:20px;
}

form li{
	position:relative;
}

.separator{
	border-top:1px solid #ededed;
	margin-top:30px;
	padding-top:30px;
}

form label{
	display:block;
	font-size:14px;
	font-weight:bold;
	margin:15px 30px 4px;
	width:212px;
}

form label.checktext{
	display:inline;
	font-size:30px;
	font-weight:normal;
	margin:0 0 0 1px;
}

/*form .note{
	display:block;
	margin-top:5px;
}*/


/* Buttons */

input[type="submit"]:hover{
	cursor:pointer;
}

.button_grey, .button_grey_sm, .button_grey_tiny{
	background:#dedede;
	background:gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#ccc));	
	background:-moz-linear-gradient(100% 100% 90deg, #ccc, #eee);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#ccc));	
	border:1px solid #b8b8b8;
	border-radius:100px;
	-moz-border-radius:100px;
	box-shadow:inset 0 1px 1px rgba(255,255,255,1);
	-moz-box-shadow:inset 0 1px 1px rgba(255,255,255,1);
	-webkit-box-shadow:inset 0 1px 1px rgba(255,255,255,1);
	color:#3d3d3d;
	display:inline-block;
	font-size:14px;
	font-weight:bold;
	text-shadow:0 1px rgba(255,255,255,0.5);
	padding:10px 25px;
}

.button_grey_sm{
	font-size:12px;
	padding:8px 25px;
}

.button_grey_tiny{
	color:#373737;
	font-size:11px;
	padding:4px 10px;
}

.button_grey:hover, .button_grey_sm:hover, .button_grey_tiny:hover{
	background:#eee;
	background:gradient(linear, 0% 0%, 0% 100%, from(#f5f5f5), to(#dbdbdb));	
	background:-moz-linear-gradient(100% 100% 90deg, #dbdbdb, #f5f5f5);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#f5f5f5), to(#dbdbdb));
	text-decoration:none;
}

.button_grey:active, .button_grey_sm:active, .button_grey_tiny:active{
	background:#cdcdcd;
	background:gradient(linear, 0% 0%, 0% 100%, from(#cdcdcd), to(#bdbdbd));	
	background:-moz-linear-gradient(100% 100% 90deg, #bdbdbd, #cdcdcd);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#cdcdcd), to(#bdbdbd));
	border-color:#a6a6a6;
	box-shadow:none;
	-moz-box-shadow:inset 0 3px 8px rgba(0,0,0,.2);
	box-shadow:none;
}

.button_grey_med{
	background:#eee;
	background:gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#dedede));	
	background:-moz-linear-gradient(100% 100% 90deg, #dedede, #fff);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#dedede));	
	border:1px solid #c0c0c0;
	border-radius:3px;
	-moz-border-radius:3px;
	color:#2c2c2c;
	display:inline-block;
	font-size:12px;
	font-weight:bold;
	text-shadow:0 1px rgba(255,255,255,0.5);
	padding:7px 20px;
}

.button_grey_med[disabled], .button_grey_med[disabled]:hover, .button_grey_sm[disabled], .button_grey_sm[disabled]:hover{
    background:#efefef;
	text-shadow:0 1px rgba(255,255,255,0.2);
	color:#ccc;
}

.button_grey_med:hover, .button_grey_med.hover{
	background:#f2f2f2;
	background:gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#e6e6e6));	
	background:-moz-linear-gradient(100% 100% 90deg, #e6e6e6, #fff);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#e6e6e6));
	text-decoration:none;
}

.button_grey_med:active, .button_grey_med.active{
	background:#eee;
	background:gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#dedede));	
	background:-moz-linear-gradient(100% 100% 90deg, #dedede, #fff);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#dedede));	
	box-shadow:inset 0 2px 5px rgba(0,0,0,.1);
	-moz-box-shadow:inset 0 2px 5px rgba(0,0,0,.1);
	-webkit-box-shadow:inset 0 2px 5px rgba(0,0,0,.1);
}

.button_grey_med.selected{
	background:#eee;
	background:gradient(linear, 0% 0%, 0% 100%, from(#dedede), to(#bebebe));	
	background:-moz-linear-gradient(100% 100% 90deg, #bebebe, #dedede);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#bebebe), to(#dedede));	
	box-shadow:inset 0 2px 5px rgba(0,0,0,.1);
	-moz-box-shadow:inset 0 2px 5px rgba(0,0,0,.1);
	-webkit-box-shadow:inset 0 2px 5px rgba(0,0,0,.1);
}

.button_green_sm, .unfollow.button_red_sm{
	background:#7ead00;
	background:gradient(linear, 0% 0%, 0% 100%, from(#8cc000), to(#739e00));	
	background:-moz-linear-gradient(100% 100% 90deg, #739e00, #8cc000);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#8cc000), to(#739e00));	
	border:1px solid #769800;
	border-radius:5px;
	-moz-border-radius:5px;
	box-shadow:inset 0 1px 1px rgba(255,255,255,.25);
	-moz-box-shadow:inset 0 1px 1px rgba(255,255,255,.25);
	-webkit-box-shadow:inset 0 1px 1px rgba(255,255,255,.25);
	color:#fff;
	cursor:pointer;
	display:inline-block;
	font-size:12px;
	font-weight:bold;
	line-height:12px;
	text-shadow:0 -1px rgba(41,41,41,0.5);
	padding:3px 10px;
}

.button_green_sm:hover{
	background:#8bbf00;
	background:gradient(linear, 0% 0%, 0% 100%, from(#96ce00), to(#7ead00));	
	background:-moz-linear-gradient(100% 100% 90deg, #7ead00, #96ce00);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#96ce00), to(#7ead00));
	text-decoration:none;
}

.button_green_sm:active{
	background:#7ead00;
	background:gradient(linear, 0% 0%, 0% 100%, from(#8cc000), to(#739e00));	
	background:-moz-linear-gradient(100% 100% 90deg, #739e00, #8cc000);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#8cc000), to(#739e00));	
	border-color:#627e00;
	box-shadow:inset 0 3px 8px rgba(0,0,0,.25);
	-moz-box-shadow:inset 0 3px 8px rgba(0,0,0,.25);
	-webkit-box-shadow:inset 0 3px 8px rgba(0,0,0,.25);
	color:rgba(255,255,255,0.8);
}

.unfollow.button_red_sm{
	opacity:.5;
}

.unfollow.button_red_sm .unfollowing{
	display:none;
}

.unfollow.button_red_sm:hover .unfollowing{
	display:inline;
}

.unfollow.button_red_sm:hover .following{
	display:none;
}

.button_red_sm, .unfollow.button_red_sm:hover{
	background:#C00005;
	background:gradient(linear, 0% 0%, 0% 100%, from(#c00005), to(#9e0004));	
	background:-moz-linear-gradient(100% 100% 90deg, #9e0004, #c00005);
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#c00005), to(#9e0004));	
	border:1px solid #980000;
	border-radius:5px;
	-moz-border-radius:5px;
	box-shadow:inset 0 1px 1px rgba(255,255,255,.25);
	-moz-box-shadow:inset 0 1px 1px rgba(255,255,255,.25);
	-webkit-box-shadow:inset 0 1px 1px rgba(255,255,255,.25);
	color:#fff;
	cursor:pointer;
	display:inline-block;
	font-size:12px;
	font-weight:bold;
	line-height:12px;
	opacity:1;
	text-decoration:none;
	text-shadow:0 -1px rgba(41,41,41,0.3);
	padding:3px 10px;
}

.button_red_sm:active, .unfollow.button_red_sm:active{
	border-color:#7e0000;
	box-shadow:inset 0 3px 8px rgba(0,0,0,.35);
	-moz-box-shadow:inset 0 3px 8px rgba(0,0,0,.35);
	-webkit-box-shadow:inset 0 3px 8px rgba(0,0,0,.35);
	color:rgba(255,255,255,0.8);


/* Login and signup */

.logsign-mode{
	background:#fffdd8;
	padding:10px;
	position:relative;
	text-align:center;
	top:-10px;
	width:150px;
	z-index:100;
}

#signup_modal_window input[type="text"], #signup_modal_window input[type="password"]{
	width:260px;
}



/* Login */

#login .rememberme{
	margin:15px 0;
}

#password_reset input, #username_reset input{
	margin-bottom:15px;
}

#switch_login, #switch_login_phone, #switch_login_username{
	font-size:12px;
	font-weight:normal;
}



]

/* PUBLIC & PRIVATE BUTTON TRANSITION */

span.follow-button a span.public_holder, 
span.follow-button a span.private_holder {
  position: absolute;
  -webkit-transition: top 0.3s ease-out;
}

span.follow-button a.private span.public_holder {
  top: 30px;
}

span.follow-button a.public span.private_holder {
  top: -30px;
}

span.follow-button a.public span.public_holder {
  top: 0px;
}

span.follow-button a.private span.private_holder {
  top: 0px;
}

/* BUTTON TEXT ALIGNMENT */

span.follow-button a.public span.public_holder span.text,
span.follow-button a.private span.public_holder span.text {
  padding-left: 12px;
}

span.follow-button a.public span.private_holder span.text,
span.follow-button a.private  span.text{
  padding-left: 10px;
}

span.follow-button a.request span.text {
  padding-left: 11px;
}

span.follow-button a.following span.text {
  padding-left: 3px;
}

span.follow-button a.requested span.text {
  padding-left: 5px;
}


/* BUTTON STATE GLYPHS */

span.follow-button span.icon {
  text-indent: -9999px;
  height: 24px;
  width: 22px;
}

span.follow-button span.public_holder span.icon {
  background: transparent url("../images/global-new/followbuttonsprites-fsv2c2049f7d1c89382af97c3fdbf363c2e9b2f74ba.png") 0 -117px no-repeat;
}

span.follow-button span.private_holder span.icon {
  background: transparent url("../images/global-new/followbuttonsprites-fsv2c2049f7d1c89382af97c3fdbf363c2e9b2f74ba.png") 0 -87px no-repeat;
}

span.follow-button a.requested span.icon,
span.follow-button a.request span.icon {
  background: transparent url("../images/global-new/followbuttonsprites-fsv2c2049f7d1c89382af97c3fdbf363c2e9b2f74ba.png") 0 -147px no-repeat;
}

span.follow-button a.following span.icon,
span.follow-button.only-private a.following.public span.icon,
span.follow-button.justrendered a.following:hover span.icon {
  background: transparent url("../images/global-new/followbuttonsprites-fsv2c2049f7d1c89382af97c3fdbf363c2e9b2f74ba.png") 0 -27px no-repeat;
}

span.follow-button a.following.private span.icon,
span.follow-button.justrendered a.following.private:hover span.icon {
  background: transparent url("../images/global-new/followbuttonsprites-fsv2c2049f7d1c89382af97c3fdbf363c2e9b2f74ba.png") 0 -57px no-repeat;
}

span.follow-button.only-private a span.icon {
  background: transparent url("../images/global-new/followbuttonsprites-fsv2c2049f7d1c89382af97c3fdbf363c2e9b2f74ba.png") 0 -237px no-repeat;
}

span.follow-button a.following:hover span.icon {
  background: transparent url("../images/global-new/followbuttonsprites-fsv2c2049f7d1c89382af97c3fdbf363c2e9b2f74ba.png") 0 3px no-repeat;
}


/* HOVER HIGHLIGHTS */

span.follow-button a.public span.text:hover,
span.follow-button a.private span.text:hover,
span.follow-button a.request span.text:hover,
span.follow-button.only-private a:hover {
  color: #FFF;
}

span.follow-button a.public span.icon:hover {
  background: transparent url("../images/global-new/followbuttonsprites-fsv2c2049f7d1c89382af97c3fdbf363c2e9b2f74ba.png") 0 -207px no-repeat;
}

span.follow-button a.private span.icon:hover {
  background: transparent url("../images/global-new/followbuttonsprites-fsv2c2049f7d1c89382af97c3fdbf363c2e9b2f74ba.png") 0 -177px no-repeat;
}

span.follow-button.only-private a.private span.icon:hover {
  background: transparent url("../images/global-new/followbuttonsprites-fsv2c2049f7d1c89382af97c3fdbf363c2e9b2f74ba.png") 0 -237px no-repeat;
}

span.follow-button a.following span.icon:hover,
span.follow-button.only-private a.following.public:hover span.icon,
span.follow-button.only-private a.following.private span.icon:hover {
  background: transparent url("../images/global-new/followbuttonsprites-fsv2c2049f7d1c89382af97c3fdbf363c2e9b2f74ba.png") 0 3px no-repeat;
}


/* JUST RENDERED */

span.follow-button.justrendered a.following:hover span.text {
  color: #638000;
}

span.follow-button.justrendered a.following:hover {
	border: 1px solid #bbcc80;
	background: #bad080;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.00, #c5df80), color-stop(1.00, #bad080));
	background: -moz-linear-gradient(top, #c5df80 0.00%, #bad080 100.00%);
	color: #638000;
	text-shadow: 0 1px 0 rgba(255,255,255,0.53);
}

span.follow-button.justrendered a.following span.icon {
  background: transparent url("../images/global-new/followbuttonsprites-fsv2c2049f7d1c89382af97c3fdbf363c2e9b2f74ba.png") 0 -27px no-repeat;
}

span.follow-button.justrendered.private a.following span.icon  {
  background: transparent url("../images/global-new/followbuttonsprites-fsv2c2049f7d1c89382af97c3fdbf363c2e9b2f74ba.png") 0 -57px no-repeat;
}


.tag-container{
    display:block;
    margin-top:10px;
}

.tag-container li {
    display:inline-block;
    margin-right:2px;
}

.tag-container li a {
    background-color:#EBF7FF;
    border:1px solid #BEE3FD;
    border-radius:3px;
    -moz-border-radius:3px;
    color:#666;
    line-height:22px;
    padding:1px 3px;
}

.tag-container li a:hover {
    background-color:#dbeefb;
    text-decoration:none;
}

.tag-header-img, .tag-header-music, .tag-header-lol {
    width: 600px;
    height: 100px;
}

.tag-header-img {
    background: url(../images/tags/headers/img-fsvdeceafba302d18484a5486c701c31c464766befe.png) 0 0 no-repeat;
}

.tag-header-music {
    background: url(../images/tags/headers/music-fsv6e94b731d57304639aaa5ff85563e318703e39ef.png) 0 0 no-repeat;
}

.tag-header-lol {
    background: url(../images/tags/headers/lol-fsv4e3920e16d972cb8d43e7146f46055c672b0a701.png) 0 0 no-repeat;
}

body.browser_firefox #most_popular_languages,
body.browser_internet-explorer #most_popular_languages {
    font-size:13px;
    font-weight:normal;
}

/* Follow button overrides - main subscribe button styles found in follow_button.css */

h1 span.tag-follow {
    float:right;
    padding:0 0 0 10px;
}

/* Tag hover */
h2 span.tag {
    background:url(../images/global-new/rightnav_icons-fsved84e8aa1ed4358f28f479c309f397ce0ea81ad5.png) 0 -747px no-repeat;
    padding-left:30px;
}

.browser_internet-explorer h2 span.tag {
	background-position: 0 -749px;
}

span.tag-follow .tag-follow-button,
span.tag-follow .tag-follow-button a .text {
    background: transparent;
    padding-right:0;
}

span .tag-follow-button a {
    text-align:center;
    width:70px;
}

.popover-content span.tag-follow.follow-ask-button-holder {
    padding:0;
}

/* Response field for questions stream on tag page */

#all_responses_respond {
    margin-top:10px;
}

p.tag-empty {
    text-align:center;
}

/* Browse Tags Page */

.bt-row {
	margin:40px 0 45px 0;
	min-height:100px;
	width:600px;
}

.bt-col {
	float:left;
	margin:0;
	width:186px;
}

.bt-col.right {
	margin:0 0 0 21px;
}

.bt-col img{
	height:82px;
	width:186px;
	margin-bottom:8px;
}

.bt-col h2 {
	margin: 0 0 3px 0;
}

.bt-col p{
    margin:0;
}

.sign-up-now {
    background: #8CC000;
    background: gradient(linear, 0% 0%, 0% 100%, from(#8CC000), to(#739E00));
    background: -moz-linear-gradient(100% 100% 90deg, #739E00, #8CC000);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8CC000), to(#739E00));
    border: 1px solid #769800;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.25) inset;
	color: #fff;
	display: inline-block;
	float: right;
	font-size: 14px;
	font-weight: bold;
	line-height: 28px;
	margin-right: 5px;
	padding: 0 10px;
	text-shadow: 0 1px #486E00;
}

.sign-up-now:hover {
	background: rgba(100, 160, 0, 0.9);
	text-decoration: none;
}

/* Announce module on Tag Page */

.topics.prepopulated .topics_input {
    margin-bottom:10px;
}

.dropdown-menu.force-right {
  right:0;
  left:auto;
}

.dropdown-menu {
    text-align: left;
}

.dropdown-menu.with-caret::before {
content: '';
display: inline-block;
border-left: 7px solid 
transparent;
border-right: 7px solid 
transparent;
border-bottom: 7px solid 
#CCC;
border-bottom-color: 
rgba(0, 0, 0, 0.2);
position: absolute;
top: -7px;
left: 9px;
}
.dropdown-menu.with-caret::after {
content: '';
display: inline-block;
border-left: 6px solid 
transparent;
border-right: 6px solid 
transparent;
border-bottom: 6px solid 
white;
position: absolute;
top: -6px;
left: 10px;
}

.action-menu .dropdown-menu {
  margin-top:3px;
}

.action-menu .dropdown-menu::before {
  top: -7px;
  left: 2px;
}

.action-menu .dropdown-menu::after {
  top: -6px;
  left: 3px;
}

.top-nav-ask .dropdown-menu::before {
  right: 16px;
  left: auto;
}

.top-nav-ask .dropdown-menu::after {
  right: 17px;
  left: auto;
}

.options-menu .option {
  display: inline-block;
  line-height: 16px;
  color: #777;
}

.options-menu .option:hover {
  text-decoration: none;
}

.options-menu .caret {
  margin-top:6px;
  margin-left:0;
}
/*.option .caret {
  margin-top: 12px;
}
*/
.dropdown-menu .icon-ok {
    visibility: hidden;
}

.dropdown-menu .selected .icon-ok {
  visibility: visible;
}

/* Batch Ask */

.batch_container .batch_ask_form {
    margin-left:70px;
}

.batch_ask_form {
	margin-bottom:30px;
}

.batch_ask_form textarea {
	border:none;
	margin-bottom:10px;
	padding:7px;
	width:514px;
}

.context-profile.batch_ask_form  textarea{
	width: 584px;
}

.pop_content .batch_ask_form textarea {
	width:484px;
}

.batch_ask_form textarea:focus {
	background-color:#FFF;
}

.topic_ask.batch_ask_form textarea {
	width:548px;
}

.batch_ask_form .button_grey_sm {
	float:right;
	margin-left:10px;
}

.batch_ask_cancel {
	float:right;
	padding-top:8px;
}

.loggedout .batch_container .batch_ask_form {
	margin-left:0;
}

/* Home Ask */
.batchask_add_friends {
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background:0 to(#dcdcdc));
	background-color:#f2f2f2;
	border:1px solid #c4c4c4;
	border-radius:5px;
	color:#000;
	display:inline-block;
	float:left;
	padding:3px 5px;
}

.batchask_listfriends .on {
	-moz-border-radius-bottomleft:0;
	-moz-border-radius-bottomright:0;
	-webkit-border-bottom-left-radius:0;
	-webkit-border-bottom-right-radius:0;
	background:#efefef;
	border-bottom-left-radius:0;
	border-bottom-right-radius:0;
}

.batch_ask_actions {
	height:60px;
	margin:10px 0;
}

.batch_ask_form.off.ask textarea {
	min-height: 41px;
}

.batch_ask_container {
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #c4c4c4;
	border-radius:5px;
	position:relative;
}

.batch_ask_container .remainingCharacters {
	background-color:#fff;
	bottom:37px;
	position:absolute;
	right:5px;
}

.batch_ask_bottom_nav {
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	background-color:#f2f2f2;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	border-top:1px solid #e6e6e6;
	display:block;
	height:30px;
	padding:0;
	position: relative;
}

.batch_ask_bottom_nav .indicator-wrapper {
	position: relative;
}

.batch_ask_bottom_nav .loading-indicator, .batch_ask_bottom_nav .success {
	background: none;
    line-height:30px;
    height: 30px;
	margin: 0;
	padding: 0;
	font-size: 16px;
	text-align: center;
	width: 16px;
	position: absolute;
	right: 9px;
	top: 0;
	transition: all 2s;
	-moz-transition: all .15s;
	-webkit-transition: all .15s;
	-o-transition: all .15s;
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
}

.batch_ask_bottom_nav .loading-indicator {
    background:url(../images/indicator-fsvafc3713481295f93de0047b46ed71bba1beb5331.gif) center center no-repeat;
}

.batch_ask_bottom_nav .icon-loading:before {
	content: "\00a0";
}

.batch_ask_form.loading .loading-indicator, .batch_ask_form.done .success {
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=100);
}

.batch_ask_form.done .options-menu, .batch_ask_form.loading .options-menu {
	display: none;
}

/*.batch_ask_bottom_nav .loading-indicator,
.batch_ask_bottom_nav .success {
	color:#808080;
	line-height: 26px;
	display: inline-block;
}
*/
#batchask_add_friends_count {
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	background:#c4c4c4;
	border-radius:3px;
	color:#fff;
	padding:1px 3px;
}

#batchask_friends_search_results {
	background:#fff;
	border:1px solid #c4c4c4;
	cursor:pointer;
	height:400px;
	overflow:auto;
	padding:0 5px 5px;
}

#batchask_friends_search_results li div {
	clear:both;
	height:55px;
	margin-top:5px;
	padding:5px;
}

#batchask_friends_search_results .selected {
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	background:#4B88B3;
	border-radius:3px;
	color:#fff;
}

#batchask_friends_search_results img {
	float:left;
}

#batchask_friends_search_results .username,
#batchask_friends_search_results .name {
	display:block;
	margin:0 0 0 60px;
}

#friends_list_container,
#friends_list_container.loading {
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topright:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-webkit-border-top-right-radius:5px;
	background-color:#efefef;
	border:1px solid #c4c4c4;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	border-top-right-radius:5px;
	left:-1px;
	padding:10px;
	top:20px;
	width:300px;
	z-index:999;
}

#friends_list_container li.loading {
	background:transparent url(../images/questions/spinner-fsv73b839fdc045fa62b979147d5cdf32f557a28fee.gif) 10px 10px no-repeat;
	height:30px;
	left:0;
	top:0;
}

.friends_search_input input {
	font-size:12px;
	margin-bottom:10px;
	padding:2px;
	width:180px;
}

.friends_search_input a {
	line-height:20px;
	margin-left:10px;
}

#friends_list_container .close {
	right:14px;
	top:14px;
}

.batch_ask_form .action-menu li.item {
	color:#bbb;
	float:left;
	line-height:28px;
	padding:0;
}

.batch_ask_form .action-menu li.item > a {
	color:#999;
	display:inline-block;
	font-size:1.37777em;
	height:30px;
	line-height: 30px;
	overflow:hidden;
	padding:0 7px 0 7px;
	width:22px;
}

.batch_ask_form .action-menu li.item > a.disabled {
	color:#DDD;
}

.batch_ask_form .action-menu li.item.attached > a {
	text-indent:0;
}

.batch_ask_form .action-menu li.item img {
	border-radius:3px;
	height:20px;
	margin-top:5px;
	width:20px;
}

.batch_ask_form li.item .tag {
    background:url(../images/global-new/rightnav_icons-fsved84e8aa1ed4358f28f479c309f397ce0ea81ad5.png) 7px -692px no-repeat;
}

.batch_ask_form li.item .tag:hover {
    background-position:7px -742px;
}

.batch_ask_form li.item.share {
	padding:0 7px;
}

.batch_ask_form li.item.share a {
	color:#808080;
	font-size:12px;
	line-height:22px;
	padding:0 6px;
	vertical-align:middle;
	clear: none;
}

.batch_ask_form li.item.share a i {
	font-size:20px;
	vertical-align:middle;
	width:0.9em;
}

a.facebook.active i {
	color:#3c5a98;
}

a.twitter.active i {
	color:#29c;
}

a.tumblr.active i {
	color:#304d6b;
}

.btn-group .btn {
	color:#808080;
}

.btn-group .btn:hover {
	color:#333;
}

.services a.btn span{
  background:url(../images/global-new/social-icons-sm-fsvc6cceb8db5f8de8e5f34eaf8b0718d596a5a35df.png) 0 0 no-repeat;
}

.services a.btn.facebook span {
    background-position:0 -60px;
}

.services a.btn.twitter span {
    background-position:0 -80px;
}

.services a.btn.tumblr span {
    background-position:0 -100px;
}

.services a.btn.facebook.active span {
    background-position:0 0;
}

.services a.btn.twitter.active span {
    background-position:0 -20px;
}

.services a.btn.tumblr.active span {
    background-position:0 -40px;
}

.item.share .btn-group {
	display:inline-block;
	line-height:30px;
	vertical-align:middle;
}

.item.share .btn-group a {
	text-shadow:none;
}

.item.share .btn-group a.active {  
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15), 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15), 0 1px 1px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15), 0 1px 1px rgba(0, 0, 0, 0.05);
  border-bottom-color:#ccc;
  border-top-color:#b3b3b3;
	color:#595959;
}

/* A/B Testing Services Btns */

.batch_ask_form li.item.share_color .services.btn-group input {
	display: inline-block;
	margin-right: 3px;
}

.share_color .services a.btn.facebook span {
	background-position: 0 0;
}

.share_color .services a.btn.twitter span {
	background-position: 0 -20px;
}

.share_color .services a.btn.tumblr span {
	background-position: 0 -40px;
}

.share_color .services a.btn.active, .share_color .services a.btn:active {
	background-color: #e9f7c1;
} 

.options-menu {
	margin-top:3px;
}

.options-menu a.option {
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	background:none;
	border:1px solid transparent;
	box-shadow:none;
	font-size:12px;
	padding:3px 8px;
}

.options-menu .open a.option,
.options-menu .open a.option:hover,
.options-menu .dropdown .open a.option,
.options-menu .dropdown .open a.option:hover {
	-moz-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	background-color:#d9d9d9 \9;
	background-image:none;
	border:1px solid #ccc;
	border-bottom-color:#b3b3b3;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
	filter:progid:dximagetransform.microsoft.gradient(enabled=false);
	outline:0;
}

.options-menu a.option:hover,
.options-menu .dropdown a.option:hover {
	-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	background-image:linear-gradient(top, #ffffff, #e6e6e6);
	background-repeat:repeat-x;
	border:1px solid #ccc;
	border-bottom-color:#b3b3b3;
	border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	filter:progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn.hide-name {
    background-image:none;
	font-size:12px;
	line-height:24px;
	margin-top:2px;
	padding:0 6px;
}

.action-menu .hide-my-name label {
	color: #999;
	display: inline;
	font-size: 12px;
	font-weight: normal;
	line-height: 31px;
	margin-left: 10px;
	margin: 0 0 0 15px;
	width: auto;
}

.batch_ask_bottom_nav .btn-primary {
	margin-top: 3px;
	padding: 3px 10px;
	-webkit-border-radius: 3px;
	--moz-border-radius: 3px;
	border-radius: 3px;
}

/*.batch_ask_form .btn {
	margin: 3px 0 0 10px;
}

 Attach photo - ask and respond 

.batch_ask_attach_photo, #profile_ask_attach_photo {
	background:url(../images/global/attach_icons-fsv7e1b0da6a53e6dac9fae94cac4553e1cb8b4e9c4.png) 0 3px no-repeat;
}

.tag_button {
	background:url(../images/global-new/tag.png) center no-repeat;
	opacity: 0.6;
	background-size: 16px;
}

.batch_ask_attach_photo:hover, #profile_ask_attach_photo:hover{
	opacity:.8;
}

.batch_ask_attach_photo.attached, #profile_ask_attach_photo.attached{
	background-image:none;
	text-indent:0;
}*/
.batch_ask_attach_photo.loading1 {
	background:url(../images/indicator-fsvafc3713481295f93de0047b46ed71bba1beb5331.gif) no-repeat center center;
	text-indent:-9999px;
}

#profile_ask_attach_photo.disabled {
	background-position:0 -47px;
}

.textarea_btm_nav .flagged {
	position:relative;
}

.batch_ask_bottom_nav > input {
	line-height:16px;
	margin:4px 6px 3px 2px;
}

.textarea_btm_nav {
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	background-color:#EFEFEF;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	display:block;
	height:32px;
	padding:0 5px;
	position:relative;
}

#photo_module_webcam_button2 .loading {
	font-size:12px;
	margin-top:0;
}

#photo_warning.photo_attach,
.photo_attach,
.link-attach,
.video-attach {
	height:auto;
	left:-45px;
	margin-left:13px;
	padding:10px;
	text-align:left;
	top:-40px;
	width:260px;
	z-index:100;
}

.photo_attach,
.link-attach,
.video-attach {
	height:auto;
	left:-45px;
	margin-left:0;
	padding:10px;
	text-align:left;
	top:-40px;
	width:280px;
	z-index:100;
}

.photo_attach a {
	-moz-border-radius:3px;
	background-color:#aaa;
	border-radius:3px;
	color:#666;
	font-size:11px;
	font-weight:bold;
	padding:2px 7px;
	text-decoration:none;
}

#photo_warning.photo_attach .remove_photo {
	margin-right:10px;
}

.profile_ask_container #photo_warning.photo_attach {
	left:0;
	margin-left:0;
}

.photo_attach a:hover {
	background-color:#ccc
}

.photo_attach p {
	font-size:12px;
	font-weight:bold;
}

.photo_attach.warning-box span {
	left:18%;
}

/* attach link */
.batch_ask_attach_link {
	background:url(../images/global/attach_icons-fsv7e1b0da6a53e6dac9fae94cac4553e1cb8b4e9c4.png) 0 -100px no-repeat;
	display:inline-block;
	height:20px;
	margin:5px 0 0 15px;
	overflow:hidden;
	text-indent:-9999px;
	width:20px;
}

.batch_ask_attach_link.attached {
	background:url(../images/global/attach_icons-fsv7e1b0da6a53e6dac9fae94cac4553e1cb8b4e9c4.png) 0 -150px no-repeat;
}

.batch_ask_attach_link.disabled {
	background:url(../images/global/attach_icons-fsv7e1b0da6a53e6dac9fae94cac4553e1cb8b4e9c4.png) 0 -200px no-repeat;
}

.attach-link {
	left:-10px;
	top:30px;
}

/* attach video */
.attach_video {
	background:url(../images/global/attach_icons-fsv7e1b0da6a53e6dac9fae94cac4553e1cb8b4e9c4.png) 0 -250px no-repeat;
	display:inline-block;
	height:20px;
	margin:5px 0 0 15px;
	overflow:hidden;
	text-indent:-9999px;
	width:20px;
}

.attach_video.attached {
	background:url(../images/global/attach_icons-fsv7e1b0da6a53e6dac9fae94cac4553e1cb8b4e9c4.png) 0 -300px no-repeat;
}

.batch_ask_bottom_nav .attach-link div .textarea_link {
	margin-bottom:12px;
	width:248px;
}

.batch_ask_bottom_nav .media_warning .close-link {
	background:url(../images/popover/close-fsvb63bfe6206d01443d61d4746e345090652796f49.png) 0 0 no-repeat;
	display:block;
	height:13px;
	padding:0;
	position:relative;
	text-indent:-999px;
	width:12px;
}

/*.batch_ask_bottom_nav .attach-link.media_warning span{
	margin-top:10px;
}

.batch_ask_bottom_nav .attach-link .close{
	right:10px;
	top:10px;
}*/
.batch_ask_bottom_nav .attach-link p {
	margin-bottom:8px;
}

.batch_ask_bottom_nav .attach-link .nw-pointer {
	background:url(../images/global-new/social-checks-fsva764b35e254af1887177bec8a55bda88da1ae210.png) 0 -372px no-repeat;
	display:block;
	height:6px;
	left:30px;
	position:absolute;
	top:-6px;
	width:8px;
}

.profile_ask_container .photo_attach.warning-box span {
	left:5%;
}

/** TAGS && link attach stuff **/
.link-attached-info {
	border-top:1px dotted #ccc;
	cursor:text;
	padding: 5px 8px;
}

.link-attached-info .icon-external-link {
	line-height:7px;
}

.link-attached-info a:hover {
	color:#005CCC;
}

.link-attached-info .icon-remove {
	color:#ccc;
	line-height:16px;
}

.link-attached-info a {
	display: inline;
	padding: 0;
}

.tags-form-list {
	border-top:1px dotted #ccc;
	background:#fff;
	cursor:text;
	padding:2px;
}

.tags-form-list input {
	border:none;
	border-radius:0;
	display:inline-block;
	font-size:12px;
	height:16px;
	line-height:14px;
	min-width:60px;
	padding:0;
}

.tags-form-list input:focus {
	background:#fff;
}

.tags-form-list li {
	background-color:#EBF7FF;
	border:1px solid #BEE3FD;
	border-radius:2px;
	color:#666;
	cursor:default;
	display:inline-block;
	margin:1px 5px 1px 0;
	padding:2px 5px 2px 5px;
}

/*.tags-form-list li.default {
	background-color:#CBCBCB;
	border:1px solid #AAA;
}*/

.tags-form-list li span {
	color:#ccc;
	cursor:pointer;
	margin-right:5px;
}

.tags-form-list li:hover,
.tags-form-list li.selected {
	background-color:#dbeefb;
}

/*.tags-form-list li.default:hover{
	background-color:#DBDBDB;
}*/

.tags-form-list li:hover span {
	color:#000;
}

.tags-form-list li.new {
	border:none;
	margin:2px 0;
	padding:0;
}

/** Friends selection **/
.pop_content .friends {
	height:300px;
	margin-bottom:10px;
	overflow:auto;
	width:500px;
}

.pop_content .friends.loading {
	background: url(../images/indicator-fsvafc3713481295f93de0047b46ed71bba1beb5331.gif) center center no-repeat;
}

.friend {
	background-color:#EFEFEF;
	border-radius:5px;
	cusor:pointer;
	float:left;
	margin:0 10px 10px 0;
	overflow:hidden;
	padding:10px 0;
	text-align:center;
	width:80px;
}

.friend.selected {
	background-color:#4B88B3;
	box-shadow:0 0 4px rgba(0, 0, 0, 0.6);
}

.friend img {
	border-radius:3px;
	height:60px;
	width:60px;
}

.friend span {
	clear:both;
	display:block;
	font-size:11px;
	margin-top:5px;
	overflow:hidden;
	padding:0 10px;
	text-align:left;
	text-overflow:ellipsis;
	width:64px;
}

.friend.selected span {
	color:#FFF;
}

.select-all {
	text-align: right;
	font-size: 12px;
}

form label.select-all {
	color: #777;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	display: inline;
	width: auto;
	float: right;
	line-height: 30px;
	margin:0 10px;
}

.batchask_add_friends a,
.batch_ask_form a,
.batch_ask_form a:hover {
	text-decoration:none;
	color: #0379CC;
}

.batch_ask_container .attachments,
#batchask_friends_search_results li.unavailable,
.services.btn-group input,
.tags-form-list li.deleted,
.friend input {
	display:none;
}

.batch_ask_form .action-menu li.item > a:hover,
.item.share .btn-group a:hover {
	color:#666;
}

#photo_module_webcam_button1,
#photo_module_webcam_button2,
#preview_upload_again {
	margin-top:10px;
}


.card-module {
	border-bottom: 1px solid #CCDCE5;
	padding: 0 10px 10px 10px;
	overflow: hidden;
}

.card-module.mini {
	border-bottom: 0;
}

.id-card {
	background: #EAF2F7;
	border: 1px solid #C6D2DB;
	border-bottom: 1px solid #AAB4B9;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

.id-card .profile-photo {
	position: absolute;
	height: 90px;
	width: 90px;
}

.id-card.mini .profile-photo {
	box-shadow: 0 1px 0 #FFFFFF;
	height: 40px;
	width: 40px;
	top: 8px;
	left: 8px;
}

.id-card.mini .profile-photo img {
	width: 40px;
	height: 40px;
}

.id-card .header {
	background: #F4FAFD;
	border-bottom: 1px solid #cbd2d6;
	border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	padding: 8px 12px;
	position: relative;
}

.id-card.verified .header,
.id-card.mini.verified .header {
	padding-right: 46px;
}

.id-card.verified .badge,
.id-card.mini.verified .badge {
	display: block!important;
	position: absolute;
	right: 12px;
	top: 12px;
}

.id-card.mini .header {
	min-height: 40px;
	padding: 8px 8px 8px 56px;
}

.id-card h2 {
	margin: 0 0 4px 0;
}

.id-card .header a {
	color: #444;
}

.id-card .header a:hover {
	color: #0379CC;
	text-decoration: none;
}

.id-card h3 {
	color: #777777;
	font-size: 12px;
	font-weight: normal;
	margin: 0;
}

.id-card .body {
	border-bottom: 1px solid #cbd2d6;
	border-top: 1px solid #f5f9fb;
	min-height: 96px;
	padding: 6px 10px 10px 113px;
	position: relative;
}

.id-card .body .profile-photo{
	border: 2px solid #FFFFFF;
	box-shadow: 0 1px 1px rgba(0,0,0,0.2);
	margin: 0;
	top: 8px;
	left: 8px;
}

.id-card .body .webcam {
	margin: 4px 0 3px -2px;
}

.id-card .body .take-photo {
	padding: 5px 0;
}

.id-card .body .sm-action {
	line-height: 24px;
	padding: 0;
}

.id-card .body .sm-action a {
	color: #808080;
	line-height: 24px;
	margin: 0;
}

.id-card .body .sm-action a:hover {
	color: #0379CC;
	text-decoration: none;
}

.id-card .statistics {
	border-top: 1px solid #f5f9fb;
	padding: 8px 13px;
}

.hovercard .statistics {
	padding: 9px 0;
}

.id-card.mini .footer {
	border-top-color: #cbd2d6;
}

.statistics .stat {
	background: transparent url(../images/global-new/user-card-icons-fsv508a978524427ad3613a3882f5ceb944118e03b2.png) -2px 4px no-repeat;
	padding: 5px 0 5px 24px;
	min-width: 90px;
	height: 18px;
}

.hovercard .statistics .stat {
	min-width: 0;
	line-height: 14px;
	padding: 0 0 0 24px;
}

.statistics .stat a {
	line-height: 18px;
}

.statistics .smile {
	background-position: -1px -45px;
	margin-right: 0;

}

.statistics a {
	color: #6b6b6b;
}

.statistics a:hover {
	color: #0379CC;
	text-decoration: none;
}

.statistics i {
	color: #bac0c4;
	font-style: normal;
}

.hovercard .statistics i {
	font-size: 13px;
}

.hovercard .statistics .smile {
	background:url(../images/global-new/question_actions-fsv81b89a7bf12ac13357eb6b4ac5b81e895f661ecd.png) 0 0 no-repeat;
}

.secondary-actions {
	padding-top: 10px;
	text-align: center;
}

.secondary-actions li {
	display: inline-block;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.secondary-actions .mid-dot {
	color: #c0ced6;
	font-size: 18px;
	font-weight: bold;
	line-height: 12px;
	padding: 0 7px;
}

.secondary-actions li a {
	background: transparent url(../images/global-new/user-card-icons-fsv508a978524427ad3613a3882f5ceb944118e03b2.png) -2px -94px no-repeat;
	color: #818a8f;
	font-size: 11px;
	padding: 5px 0 5px 20px;
}

.secondary-actions li a:hover {
	color: #0379CC;
	text-decoration: none;
}

.secondary-actions li.profile-shuffle a:hover {
	background-position: -2px -244px;
}

.secondary-actions li.grab-widget a {
	background-position: -2px -144px;
}

.secondary-actions li.grab-widget a:hover {
	background-position: -2px -294px;
}

.secondary-actions li.smile-shuffle a {
	background-position: -2px -196px;
	padding-left: 34px;
}

.secondary-actions li.smile-shuffle a:hover {
	background-position: -2px -346px;


//

