/*body 
{
	margin: 0;
	padding: 0;
	background: #1d1d1d;
	font-family: "Lucida Grande", Verdana, sans-serif;
	font-size: 100%;
}*/

h2 span
{
	display: none;
	font-weight: bold;
}

p	
{ 
	color: #ffff66; 
	margin-top: .5em;
	font-size: .75em;
	padding-left:15px;	
}

#navigation-block {
	position:relative;
	top:-580px;
	left:-245px;
	margin-right: 700px;
}

#navigation-block2 {
	position:relative;
	top:-500px;
	left:-245px;
	margin-right: 700px;
}

#navigation-block3 {
	position:relative;
	top:-623px;
	left:-245px;
	margin-right: 700px;
}

#navigation-block4 {
	position:relative;
	top: -423px;
	left:-245px;
	margin-right: 700px;
}

#navigation-block5 {
	position:relative;
	top:28px;
	left:-245px;
	margin-right: 700px;
}

#hide {
	position:absolute;
	top:-50px;
	left:-180px;
}

ul#sliding-navigation
{
	list-style: none;
	font-size: 1.1em;
	margin: 30px 0;
	margin-right: 700px;
	padding: 0;
}

ul#sliding-navigation li.sliding-element h3,
ul#sliding-navigation li.sliding-element a
{
	display: block;
	width: 190px;
	padding: 5px 18px;
	margin: 0;
	margin-bottom: 5px;
}

ul#sliding-navigation li.sliding-element h3
{
	color: #fff;
	background:#333 url(../images/heading_bg.jpg) repeat-y;
	font-weight: normal;
}

ul#sliding-navigation li.sliding-element a
{
	color: #999;
	background:#222 url(../images/tab_bg.jpg) repeat-y;
	border: 1px solid #1a1a1a;
	text-decoration: none;
}

ul#sliding-navigation li.sliding-element a:hover { color: #ffff66; }