body {
	font-family:Arial, Helvetica, sans-serif;	
	padding:0;
	margin:0;	
}

#header {
	background:#5BAAE2;
	background-image:-webkit-linear-gradient(bottom, #3E85CC 0%, #5BAAE2 60%, #61B4EB 97%, #6CC4FF 100%)	
	position:fixed;
	border-bottom:1px solid #1E4264;
	box-shadow:0 2px 4px rgba(0, 0, 0, .2);
	-webkit-box-shadow:0 2px 4px rgba(0, 0, 0, .2);		
	height:45px;	
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 10000;
}

.clear {
clear: both;
}

.content {
background-color:white;
border: 0;
outline: 0;
margin: 0 auto;
padding: 0;
width: 960px;
}

#loggedout_home {
	background-color:white;
	}

#loggedout_home .home-top-gradient {
	background-image:url(../images/bg1.jpg) 0 0 repeat;	
	border-bottom: 1px solid #8DB1BF;
	}
#home-bokeh {
	background: url(..images/white.png) 0 center no-repeat;
	margin: 0 auto;
	width: 960px;
	padding-top: 46px;
	height: 440px;
	position: relative;
}
#footer-span {
	border-top: 1px solid #8DB1BF;
	background:#FFF;
	bottom:0;
	position:absolute;
	height: 80px;
	width: 100%;
}






</style>